{% extends 'avisota/message/renderer/default/mce_container.html.twig' %}
{% import "avisota/message/renderer/default/mce_macros.html.twig" as mce %}

{% set headline = headline|deserialize(true) %}
{% set hl = headline.unit ? headline.unit : 'h1' %}
{% set headline = headline.value %}

{% block content %}
    {% spaceless %}
        {{ event }}
    {% endspaceless %}
{% endblock %}
